@import url("../js/library/aos/aos.css");
@import url("../js/library/fontawesome/css/all.css");
@import url("../js/library/hover/hover.css");
@import url("../js/library/wow/wow.min.js");
@import url("../assets/font/bevietnampro/stylesheet.css");
.phone-bottom {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
}

.call-text {
  color: #fff;
  padding: 10px 30px;
  color: #fff;
  position: absolute;
  right: -86px;
  background-color: rgba(0, 175, 242, 0.5);
  z-index: -1;
  border-radius: 30px;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Be Vietnam Pro";
  font-size: 14px;
  font-weight: 400;
  overflow-x: hidden;
  max-width: 1905px;
  line-height: 18px;
}

a {
  all: unset;
  cursor: pointer;
}

button,
select {
  border: none;
  outline: none;
}

.container {
  width: 100%;
  max-width: 1170px;
  height: 100%;
  margin: 0 auto;
  line-height: 1.5;
  padding: 0 15px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main {
  overflow: hidden;
  min-height: 68vh;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.title {
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

.btn {
  min-width: 200px;
  background-color: rgb(74, 169, 7);
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.coccoc-alo-ph-circle {
  width: 160px;
  height: 160px;
  top: 20px;
  left: 20px;
  position: absolute;
  background-color: transparent;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 2px solid rgba(30, 30, 30, 0.4);
  opacity: 0.1;
  -webkit-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
  -moz-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
  -ms-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
  -o-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
  animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.coccoc-alo-phone {
  background-color: transparent;
  width: 200px;
  height: 200px;
  cursor: pointer;
  z-index: 200000 !important;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  -webkit-transition: visibility 0.5s;
  -moz-transition: visibility 0.5s;
  -o-transition: visibility 0.5s;
  transition: visibility 0.5s;
  right: 150px;
  top: 30px;
}

.coccoc-alo-phone.coccoc-alo-green .coccoc-alo-ph-circle-fill {
  background-color: rgba(0, 175, 242, 0.5);
  opacity: 0.75 !important;
}

.coccoc-alo-ph-circle-fill {
  width: 100px;
  height: 100px;
  top: 50px;
  left: 50px;
  position: absolute;
  background-color: #000;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 2px solid transparent;
  opacity: 0.1;
  -webkit-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
  -moz-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
  -ms-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
  -o-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
  animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.coccoc-alo-ph-img-circle {
  width: 60px;
  height: 60px;
  top: 70px;
  left: 70px;
  position: absolute;
  background: rgba(30, 30, 30, 0.1) url(https://drive.google.com/uc?id=1V3N2b79QjDWetC_ss9wI3c-xpWDymn9R) no-repeat center center;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 2px solid transparent;
  opacity: 0.7;
  -webkit-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
  -moz-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
  -ms-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
  -o-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
  animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
}

.coccoc-alo-phone.coccoc-alo-green .coccoc-alo-ph-img-circle {
  background-color: #00aff2;
}

.coccoc-alo-phone.coccoc-alo-green .coccoc-alo-ph-circle {
  border-color: #00aff2;
  opacity: 0.5;
}

.coccoc-alo-phone.coccoc-alo-green.coccoc-alo-hover .coccoc-alo-ph-circle,
.coccoc-alo-phone.coccoc-alo-green:hover .coccoc-alo-ph-circle {
  border-color: #75eb50;
  opacity: 0.5;
}

.coccoc-alo-phone.coccoc-alo-green.coccoc-alo-hover .coccoc-alo-ph-circle-fill,
.coccoc-alo-phone.coccoc-alo-green:hover .coccoc-alo-ph-circle-fill {
  background-color: rgba(117, 235, 80, 0.5);
  opacity: 0.75 !important;
}

.coccoc-alo-phone.coccoc-alo-green.coccoc-alo-hover .coccoc-alo-ph-img-circle,
.coccoc-alo-phone.coccoc-alo-green:hover .coccoc-alo-ph-img-circle {
  background-color: #75eb50;
}

@-moz-keyframes coccoc-alo-circle-anim {
  0% {
    transform: rotate(0) scale(0.5) skew(1deg);
    opacity: 0.1;
  }
  30% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.5;
  }
  100% {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.1;
  }
}
@-webkit-keyframes coccoc-alo-circle-anim {
  0% {
    transform: rotate(0) scale(0.5) skew(1deg);
    opacity: 0.1;
  }
  30% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.5;
  }
  100% {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.1;
  }
}
@-o-keyframes coccoc-alo-circle-anim {
  0% {
    transform: rotate(0) scale(0.5) skew(1deg);
    opacity: 0.1;
  }
  30% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.5;
  }
  100% {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.1;
  }
}
@keyframes coccoc-alo-circle-anim {
  0% {
    transform: rotate(0) scale(0.5) skew(1deg);
    opacity: 0.1;
  }
  30% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.5;
  }
  100% {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.1;
  }
}
@-moz-keyframes coccoc-alo-circle-fill-anim {
  0% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2;
  }
  50% {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.2;
  }
  100% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2;
  }
}
@-webkit-keyframes coccoc-alo-circle-fill-anim {
  0% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2;
  }
  50% {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.2;
  }
  100% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2;
  }
}
@-o-keyframes coccoc-alo-circle-fill-anim {
  0% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2;
  }
  50% {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.2;
  }
  100% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2;
  }
}
@keyframes coccoc-alo-circle-fill-anim {
  0% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2;
  }
  50% {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.2;
  }
  100% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2;
  }
}
@-moz-keyframes coccoc-alo-circle-img-anim {
  0% {
    transform: rotate(0) scale(1) skew(1deg);
  }
  10% {
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  50% {
    transform: rotate(0) scale(1) skew(1deg);
  }
  100% {
    transform: rotate(0) scale(1) skew(1deg);
  }
}
@-webkit-keyframes coccoc-alo-circle-img-anim {
  0% {
    transform: rotate(0) scale(1) skew(1deg);
  }
  10% {
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  50% {
    transform: rotate(0) scale(1) skew(1deg);
  }
  100% {
    transform: rotate(0) scale(1) skew(1deg);
  }
}
@-o-keyframes coccoc-alo-circle-img-anim {
  0% {
    transform: rotate(0) scale(1) skew(1deg);
  }
  10% {
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  50% {
    transform: rotate(0) scale(1) skew(1deg);
  }
  100% {
    transform: rotate(0) scale(1) skew(1deg);
  }
}
@keyframes coccoc-alo-circle-img-anim {
  0% {
    transform: rotate(0) scale(1) skew(1deg);
  }
  10% {
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  50% {
    transform: rotate(0) scale(1) skew(1deg);
  }
  100% {
    transform: rotate(0) scale(1) skew(1deg);
  }
}
.header {
  position: fixed;
  z-index: 2;
  background-color: #fff;
  margin: 0 auto;
  border-bottom: 1px solid #e5e5e5;
  left: 0;
  right: 0;
}
.header-navigation-ic {
  display: none;
}
.header-top {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 600px) {
  .header-top {
    display: inline-block;
  }
}
.header-img {
  width: 10%;
}
@media screen and (max-width: 800px) {
  .header-img {
    width: 20%;
  }
}
@media screen and (max-width: 600px) {
  .header-img {
    width: 25%;
    margin: 0 auto;
  }
}
.header-menu {
  width: 100%;
  margin-left: 50px;
}
@media screen and (max-width: 600px) {
  .header-menu {
    margin: 0 auto;
  }
}
.header-menu-item {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  overflow: hidden;
}
@media screen and (max-width: 600px) {
  .header-menu-item {
    justify-content: center;
  }
}
.header-menu-title {
  cursor: pointer;
  padding: 20px;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
}
@media screen and (max-width: 800px) {
  .header-menu-title {
    font-size: 11px;
    padding: 10px;
  }
}
@media screen and (max-width: 400px) {
  .header-menu-title {
    font-size: 9px;
  }
}
.header-menu-list:hover .header-menu-dropdown {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
}
.header-menu-dropdown {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  text-align: center;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.header-menu-dropdown a {
  padding: 12px 16px;
}
.header-menu-dropdown a:hover {
  background-color: #f1f1f1;
}

.slide-box {
  position: relative;
  padding-top: 130px;
}
@media screen and (max-width: 600px) {
  .slide-box {
    padding-top: 160px;
  }
}
.slide-box-inner {
  display: none;
}
.slide-box-inner img {
  height: 350px;
  object-fit: unset;
}

.content-center {
  display: inline-flex;
  position: absolute;
  width: 95%;
  top: -70px;
  left: 0;
  right: 0px;
  margin: 0 auto;
  z-index: 1;
}
@media screen and (max-width: 1000px) {
  .content-center {
    position: unset;
    width: 50%;
    display: block;
    top: 0;
  }
}
@media screen and (max-width: 800px) {
  .content-center {
    width: 80%;
    font-size: 18px;
  }
}
@media screen and (max-width: 600px) {
  .content-center {
    width: 100%;
    font-size: 14px;
  }
}
.content-name {
  text-align: center;
  padding: 20px;
  color: #fff;
  border-radius: 24px;
}
.content-name:nth-child(2) {
  margin: 0 20px;
  background: rgb(53, 91, 162);
}
@media screen and (max-width: 1000px) {
  .content-name:nth-child(2) {
    margin: 20px 0;
  }
}
.content-name:nth-child(3) {
  background-color: rgb(78, 90, 105);
}
.content-name:nth-child(1) {
  background-color: rgb(215, 122, 0);
}
.content-name-img img {
  width: 100px;
}
.content-name-text h2 {
  margin: 12px 0;
}
@media screen and (max-width: 800px) {
  .content-name-text h2 {
    font-size: 16px;
  }
}

.area-pd {
  padding-top: 0 !important;
}
.area-box {
  padding-top: 280px;
  z-index: 0;
}
@media screen and (max-width: 1000px) {
  .area-box {
    padding-top: 20px;
  }
}
.area-box-inner {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
}
@media screen and (max-width: 800px) {
  .area-box-inner {
    display: block;
  }
}
.area-box-img {
  width: 100%;
  padding: 30px 20px;
  text-align: center;
}
.area-box-img img {
  width: 80%;
}
.area-box-top {
  color: #000;
}
.area-box-top h2 {
  margin-bottom: 12px;
}
.area-box-text {
  width: 50%;
  color: #fff;
  padding: 12px 16px;
}
@media screen and (max-width: 800px) {
  .area-box-text {
    width: 100%;
    text-align: center;
  }
}
.area-box-text li {
  color: #000;
}
.area-box-text {
  width: 80%;
}
@media screen and (max-width: 800px) {
  .area-box-text {
    width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .area-box-flex {
    flex-direction: column !important;
  }
}
.area-box-width {
  width: 100%;
}
.area-box-button {
  width: 50%;
  text-align: center;
  margin: 20px 0;
  border-radius: 50px;
  padding: 14px 0;
  text-transform: uppercase;
  font-weight: 700;
  background-color: rgb(74, 169, 7);
}
@media screen and (max-width: 1000px) {
  .area-box-button {
    width: 70%;
  }
}
.area-box-button a {
  font-size: 14px;
}
@media screen and (max-width: 800px) {
  .area-box-bottom {
    width: 50%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 600px) {
  .area-box-bottom {
    width: 80%;
  }
}
.area-box-title h1, .area-box-title h2 {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin: 30px 0;
}
@media screen and (max-width: 800px) {
  .area-box-title h1, .area-box-title h2 {
    font-size: 20px;
  }
}
.area-box-title h3 {
  font-size: 25px;
  margin: 10px 0;
}
@media screen and (max-width: 800px) {
  .area-box-title h3 {
    font-size: 15px;
  }
}
.area-box-title span {
  font-weight: 700;
}
.area-box-sms {
  width: 50% !important;
}

.center {
  background: #e5e5e5;
}
.center-box-inner {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 800px) {
  .center-box-inner {
    flex-direction: column-reverse;
  }
}

.bg-white {
  background-color: #fff;
}

.footer {
  background-color: rgb(41, 62, 80);
}
.footer-service {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
@media screen and (max-width: 800px) {
  .footer-service {
    display: block;
    text-align: center;
  }
}
@media screen and (max-width: 600px) {
  .footer-service {
    font-size: 11px;
  }
}
.footer-service-col {
  color: rgb(161, 181, 206);
}
@media screen and (max-width: 800px) {
  .footer-service-col {
    margin-bottom: 20px;
  }
}
.footer-service-col .title {
  font-size: 14px;
  text-align: unset;
}
.footer-service-box li {
  margin: 10px 0;
}
.footer-hotline {
  color: rgb(161, 181, 206);
  text-align: center;
}
.footer-hotline span {
  color: red;
}
@media screen and (max-width: 600px) {
  .footer-hotline {
    font-size: 11px;
  }
}

@media screen and (max-width: 800px) {
  .call-text {
    display: none;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #000;
}

table,
th,
td {
  border: 1px solid #000;
  padding: 12px;
  text-align: center;
}

tr:nth-child(even) {
  background-color: rgba(150, 212, 212, 0.4);
}

.table-box-inner {
  overflow-x: auto;
  margin: 30px 0;
}
.table-box-title h2 {
  font-size: 30px;
  margin: 20px 0;
}
@media screen and (max-width: 800px) {
  .table-box-title h2 {
    font-size: 20px;
  }
}
.table-box-title span {
  font-size: 20px;
  font-weight: 700;
  text-decoration: underline;
}
@media screen and (max-width: 800px) {
  .table-box-title span {
    font-size: 15px;
  }
}
.table-box-vat span {
  color: red;
  text-decoration: underline;
  font-weight: 700;
  text-align: center;
  font-style: italic;
}
.table-box-vat {
  text-align: center;
  margin-bottom: 20px;
}/*# sourceMappingURL=style.css.map */