.header {
  position: fixed;
  z-index: 2;
  background-color: #fff;
  margin: 0 auto;
  border-bottom: 1px solid #e5e5e5;
  left: 0;
  right: 0;
  &-navigation-ic {
    display: none;
  }
  &-top {
    @include flex();
    align-items: center;
    @include max(600px){
      display: inline-block;
    }
  }
  &-img {
    width: 10%;
    @include max(800px){
      width: 20%;
    }
    @include max(600px){
      width: 25%;
      margin: 0 auto;
    }
  }
  &-menu {
    width: 100%;
    margin-left: 50px;
    @include max(600px){
      margin: 0 auto
    }
    &-item {
      @include flex();
      overflow: hidden;
      @include max(600px){
        justify-content: center;
      }
    }
    &-title {
      cursor: pointer;
      padding: 20px;
      display: inline-block;
      text-transform: uppercase;
      font-weight: 700;
      @include max(800px){
        font-size: 11px;
        padding: 10px;
      }
      @include max(400px){
        font-size: 9px;
      }
    }
    &-list {
      &:hover .header-menu-dropdown {
        @include flex();
        flex-direction: column;
      }
    }
    &-dropdown {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      text-align: center;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
      & a {
        padding: 12px 16px;
      }
      & a:hover {
        background-color: #f1f1f1;
      }
    }
  }
}
