.phone {
  &-bottom {
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
  }
}

.call-text{
    color: #fff;
    padding: 10px 30px;
    color: #fff;
    position: absolute;
    right: -86px;
    background-color: rgba(0, 175, 242, 0.5);
    z-index: -1;
    border-radius: 30px;
}
